// layout

%container
  @extend %group
  @extend %row

.header-container, .footer-container
  @extend %centered
  @extend %container
  background: $support-color
  color: $accent-color
  padding: $unit/2 0

.main-container
  @extend %container
  background: $darkest-accent-color
  height: 100%
  min-height: 100%
  overflow: hidden

.footer-container
  bottom: 0
  position: fixed