@import "bourbon/bourbon"
@import "settings"
@import "mixins"
@import "common"
// @import "layouts"

%container
  @extend %group
  @extend %row

.header-container, .footer-container
  @extend %centered
  @extend %container
  background: $support-color
  color: $accent-color
  padding: $unit/2 0

.main-container
  @extend %centered
  @extend %container
  background: $darkest-accent-color
  height: 100%
  min-height: 100%

.sidebar
  +cols(3)

// header
.navbar
  @extend %container

.heading-title
  @extend %left
  +cols(7.5)
  .title-text
    @extend %bold
    @extend %smallcaps
    font-size: $larger
    text-indent: $unit/4

.header-links
  @extend %right
  +cols(2.5)
  li
    @extend %centered
    +inline-block
    padding: 0 $unit
    i[class^="icon-"]
      color: $accent-color


// Pages
// index page

// titles
.titles-container
  @extend %container

ul.titles-list
  @extend %left
  +cols(5)
  background: transparent

  li.title-item
    @extend %group
    @extend %row
    border-top: 1px solid $darker-accent-color
    border-right: 1px solid $darker-accent-color
    padding: $unit/4
    &:first-child
      border-top: none

  .title-media
    @extend %left
    +cols(2)
    padding: 0 $unit/4 0 0

  .title-caption
    @extend %left
    +cols(8)
    +height(4*$unit)
    color: $accent-color
  .title-heading
    @extend %bold
    color: $lighter-accent-color
  .title-type
    @extend %right
  .title-description
    +height(2*$unit)
    font-style: italic
    font-size: $small
    overflow: hidden
    text-overflow: ellipsis
  .title-stats
    @extend %row
    bottom: 0
    font-size: $smaller
    position: relative
  .title-category
    @extend %bold
    @extend %left
  .title-social
    @extend %right
    i[class^="icon-"]
      width: 2*$unit
      &:before
        margin: 0 $unit/5 0 $unit/4

.title-details
  @extend %right
  +cols(5)

// profile page

// search search


// footer
.copyright
  @extend %left
  @extend %row
  @extend %smallcaps
  font-size: $small
  text-indent: $unit/2
