@import "bourbon/bourbon"
@import "settings"
@import "mixins"
@import "common"
@import "layouts"

// header
.navbar
  @extend %container

.heading-title
  @extend %left
  +cols(6)
  .title-text
    @extend %bold
    @extend %smallcaps
    font-size: $larger
    text-indent: $unit/4

.header-links
  @extend %right
  +cols(4)
  li
    @extend %centered
    +inline-block
    border-left: 1px solid $darkest-accent-color
    padding: 0 $unit
    &:first-child
      border: none
    i[class^="icon-"]
      color: $accent-color

.header-search-form
  display: none
  .search-form-input
    +cols(1.5)

// Pages
// index page

// titles section
.titles-container
  @extend %container

.titles-list
  @extend %left
  +cols(5)
  background: transparent

  .title-item
    @extend %group
    @extend %row
    +transition (background 0.5s ease-in-out)
    background: $darkest-accent-color
    border-top: 1px solid $darker-accent-color
    border-right: 1px solid $darker-accent-color
    padding: $unit/4
    &:hover
      background: lighten($darkest-accent-color, 10%)
    &:first-child
      border-top: none

  .title-media
    @extend %left
    +cols(2)
    padding: 0 $unit/4 0 0

  .title-caption
    @extend %left
    +cols(8)
    +height(4*$unit)
    color: $accent-color
  .title-heading
    @extend %bold
    color: $lighter-accent-color
  .title-type
    @extend %right
  .title-author
    +height(2.5*$unit)
    font-style: italic
    font-size: $small
    overflow: hidden
    text-overflow: ellipsis
  .title-description
    +height(2.5*$unit)
    font-size: $small
  .title-stats
    @extend %row
    bottom: 0
    font-size: $smaller
    position: relative
  .title-category
    @extend %bold
    @extend %left
  .title-social
    @extend %right
    i[class^="icon-"]
      width: 2*$unit
      &:before
        margin: 0 $unit/5 0 $unit/4

.title-details
  @extend %right
  +cols(5)

// profile page

// search search


// footer
.copyright
  @extend %left
  @extend %row
  @extend %smallcaps
  font-size: $small
  text-indent: $unit/2
