
<header class="header-container">
  <nav class="navbar">

    <div class="heading-box">
      <h1 class="heading-title">
        {{#linkTo "index"}}<i class="icon-reorder"></i>{{/linkTo}}
        {{#linkTo "index"}}<span class="title-text">MediaTracker<span>{{/linkTo}}
      </h1>
    </div>

    <ul class="header-links">
      <li>
        <form id="headerSearchForm" class="header-search-form">
        <input type="text" value="" placeholder="Search..."
          id="search" class="search-form-input">
        {{#linkTo "search"}}
          <i class="icon-search"></i>
        {{/linkTo}}
        </form>
      </li>
      <li>
        {{#linkTo "login"}}
          <i class="icon-signin"></i>
        {{/linkTo}}
      </li>
    </ul>
  </nav>
</header>

<div id="main" class="main-container">
  {{ outlet }}

<div class="footer-container">
  <small class="copyright">&copy; 2014 MediaTracker</small>
</div>

</div>
