<header class="header-container">

  <nav class="top-nav">

    <div class="page-heading">
      <h1 class="heading-text">
        {{#linkTo 'index'}} title {{/linkTo}}
      </h1>
    </div>

    <ul class="top-nav-links">
      <li>
        <i class="icon-search"></i>
        {{#linkTo 'search'}} search {{/linkTo}}
      </li>
      <li>
        <icon class="icon-user"></i>
        {{#linkTo 'profile'}} profile {{/linkTo}}
      </li>
    </ul>
  </nav>
<header>

<div id="main" class="main-container">

  {{ outlet }}
</div>

<footer class="footer-container">
</footer>
