
<header class="header-container">
  <nav class="navbar">

    <div class="heading-title">
      <h1 class="title-text">
        {{#linkTo "index"}} MediaTracker {{/linkTo}}
      </h1>
    </div>

    <ul class="header-links">
      <li>
        {{#linkTo "search"}}
          <i class="icon-search"></i>
        {{/linkTo}}
      </li>
      <li>
        {{#linkTo "login"}}
          <i class="icon-signin"></i>
        {{/linkTo}}
      </li>
    </ul>
  </nav>
</header>

<section id="main" class="main-container">
  {{ outlet }}
</section>

<footer class="footer-container">
  <small class="copyright">&copy; MediaTracker</small>
</footer>