
<header class="header-container">
  <nav class="navbar">

    <div class="heading-box">
      <h1 class="heading-title">
        {{#linkTo "index"}}<i class="icon-reorder"></i>{{/linkTo}}
        {{#linkTo "index"}}<span class="title-text">MediaTracker<span>{{/linkTo}}
      </h1>
    </div>

    <ul class="header-links">
      <li>
        <form id="headerSearchForm" class="header-search-form">
        <input type="text" value="" placeholder="Search..."
          id="search" class="search-form-input">
        {{#linkTo "search"}}
          <i class="icon-search"></i>
        {{/linkTo}}
        </form>
      </li>
      <li>
        {{#linkTo "login"}}
          <i class="icon-signin"></i>
        {{/linkTo}}
      </li>
    </ul>
  </nav>
</header>

<div id="main" class="main-container">
  {{ outlet }}

<div class="footer-container">
  <span class="copyright">&copy; 2014 MediaTracker</span>
  <span class="crowd-favourite-button">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ss14-team-90.divshot.io" data-text="Check out MediaTracker by FEWD" data-via="staticshowdown">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </span>
</div>

</div>
