<div id="content" class="page-content">

  <div id="stats" class="stats">
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
  <div>

  <div id="activity" class="activity">

  <div>

  <div id="info" class="info">
    <div id="news" class="news"></div>
    <div id="reviews" class="reviews"></div>
  <div>

</div>
